:root {
  --font-primary: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-code: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  --color-primary: hsl(209, 61%, 16%);
  --color-black: black;
  --color-white: white;
  --section-width: 90%;
  --section-max-width: 1170px;
  --section-gap: 3rem 2rem;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-white);
  color: var(--color-primary);
}

code {
  font-family: var(--font-code);
}

h1, h2, h3, h4 {
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--color-black);
}

.section {
  width: var(--section-width);
  max-width: var(--section-max-width);
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .section {
    width: 95%;
  }
}

.menu {
  padding: 5rem 0;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.btn-container {
  display: flex;
  align-items: center;
  overflow-x: auto;
  width: 100%;
  max-width: var(--section-max-width);
  gap: 10px;
  padding: 15px;
  white-space: nowrap;
}

.filter-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  padding: 0.2em 0.6em;
  border-radius: 2.4rem;
  color: var(--color-black);
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  flex-shrink: 0;
}

.filter-btn.active {
  color: var(--color-white);
  background-color: var(--color-black);
}

.section-center {
  width: var(--section-width);
  max-width: var(--section-max-width);
  margin: 0 auto;
  display: grid;
  gap: var(--section-gap);
  justify-items: center;
}

.menu-item {
  width: 100%;
  display: grid;
  gap: 1rem 2rem;
}

.item-info header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid hsl(210, 22%, 49%);
}

.item-info h4 {
  margin-bottom: 0.5rem;
}

.price {
  color: var(--color-black);
}

.item-text {
  margin-bottom: 0;
  padding-top: 1rem;
}

@media screen and (min-width: 768px) {
  .menu-item {
    grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
  }

  .photo {
    height: 175px;
  }
}

@media screen and (min-width: 992px) {
  .section-center {
    grid-template-columns: 1fr 1fr;
  }
}
